
body {
  background-color: #2984;
  height: 100vh;
  animation: colorchange 1s;
  animation-iteration-count: 300;
  -webkit-animation: colorchange 20s;
  -webkit-animation-iteration-count: 300;
}

@keyframes colorchange 
{
  0% {background: rgba(76, 101, 97, 0.267);}
  25% {background: rgba(76, 101, 97, 0.267);}
  50% {background: rgba(45, 84, 133, 0.267);}
  75% {background: rgba(115, 76, 143, 0.267);}
  100% {background: rgba(87, 32, 67, 0.267);}
} 
@-webkit-keyframes colorchange 
{
  0% {background: rgba(76, 101, 97, 0.267);}
  25% {background: rgba(76, 101, 97, 0.267);}
  50% {background: rgba(45, 84, 133, 0.267);}
  75% {background: rgba(115, 76, 143, 0.267);}
  100% {background: rgba(87, 32, 67, 0.267);}
} 

#output {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

input {
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  height: 100px;
  border-radius: 25px;
  margin: 5px;
}

#globalcontainer {
  border-radius: 25px;
  margin: 0 auto;
  height: auto;
  width: 600px;
  
  /* background-color: gray; */
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: #2984;
  border-radius: 50px;
  padding: 30px;
  box-shadow: 1px 1px 14px 9px rgba(94,94,94,0.76);
}

input {
  font-size: 30px;
}






